//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

//
// Colors variables
// --------------------------------------------------
@brand-default:         #555753;
@brand-primary:         #5b3566;
@brand-success:         #539e20;
@brand-info:            #fef8d4;
@brand-warning:         #ec7606;
@brand-danger:          #d21617;
@body-bg:               #faf7eb;
@radius:                4px;
@white:                 #ffffff;
@black:                 #000000;
@label-default-bg:      @brand-default;
@label-color:           #7f4a8e;
@scale-bg:              #e3dbca;

// Import the rest

// Bootstrap-tagsinput
@import "opm-tagsinput.less";

//
// Mixin for generating new style

.font-general() {
  font-weight: normal;
  font-style: normal;
}

.font-leight(@size: inherit) {
  font-family: Junction, Verdana;
  font-size: @size;
}
.font-bold(@size: inherit) {
  font-family: JunctionBold, Verdana, sans-serif;
  font-weight: normal;
  font-size: @size;
}

.btn-styles(@btn-color: #555) {
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  background: @btn-color;

  &:hover,
  &:focus {
    background: darken(@btn-color, 12%);
  }

  &:active,
  &.active,
  .open .dropdown-toggle& {
    background: darken(@btn-color, 12%);
  }
}

//
// Fonts

@font-face {
    font-family: 'JunctionBold';
    src: url('../fonts/junction-bold.eot');
    src: url('../fonts/junction-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-bold.woff') format('woff'),
         url('../fonts/junction-bold.ttf') format('truetype'),
         url('../fonts/junction-bold.svg#junctionbold') format('svg');
    .font-general;
}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction-regular.eot');
    src: url('../fonts/junction-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-regular.woff') format('woff'),
         url('../fonts/junction-regular.ttf') format('truetype'),
         url('../fonts/junction-regular.svg#junctionregular') format('svg');
    .font-general;
}

//
// General style

.label-default {
  .label-variant(@label-default-bg);
}

.label-primary {
  .label-variant(@label-primary-bg);
}

.label-success {
  .label-variant(@label-success-bg);
}

.label-info {
  .label-variant(@label-info-bg);
}

.label-warning {
  .label-variant(@label-warning-bg);
}

.label-danger {
  .label-variant(@label-danger-bg);
}


body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 150%;
  background: @body-bg;
}

h1, h2, h3, h4, h5 {
  .font-bold;
}

h1 {
  margin-top: 0;
  padding-top: 0;
  color: @brand-primary;
  font-size: 2em;
}

h2, h2.panel-title {
  color: lighten(@brand-primary,12%);
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

hr {
  border-color: lighten(@brand-default, 50%);
}

a, a:hover {
  color: @brand-primary;
}

.user-menu {
  a {
    .font-leight;
    padding: .4em;
    color: darken(@link-color, 12%);
  }
  a:hover {
    background: @black;
    border-radius: @radius;
    text-decoration: none;
    color: @white;
  }
}

.box {
  background-color: @black;
  padding: 2em 3em;
  margin-bottom: 20px;
  border-radius: @radius;
  color: lighten(@brand-primary,12%);
  background: @white;
}

.sidebar {
  .nav > li > a {
    padding: 10px 10px 6px;
    color: @link-color; //FIXME ?
  }
  .nav-sidebar a {
    .font-bold(.8em);;
    color: lighten(@link-color, 12%);
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  ul {
    li.active-parent {
      a, a:hover {
        background: none;
        color: @black;
      }
    }
    li a:hover, li a:focus {
      color: @black;
      background: none;
      border-radius: @radius;
    }
  }
}

.sidebar .sub-level li.active a, .sidebar .sub-level li.active a:hover, .sidebar .sub-level li.active a:focus, .sidebar ul li.active a, .sidebar ul li.active a:hover {
  color: @white;
  background-color: @brand-primary;
  border-radius: @radius;
}

.sidebar .sub-level li.active a {
  padding-left: 1em;
}

.overview-labels {
  border-bottom: 1px solid lighten(@brand-default, 50%);
  margin: 0 0 1em 0;
  padding: 2em 0;
  .label {
    font-size: .8em;
    margin-right: .4em;
  }
}

.server {
  span.label {
    clear: left;
    display: block;
    float: left;
    margin: 0 0 0.4em;
  }
}

.server_list {
  a {
    color: @black;
    margin-right: 2em;
    transition-duration: 1s;
    transition-property: color;
    display: block;
    padding: .3em .3em 0;
    border: 1px solid @white;
    border-radius: @radius;
  }
  a:hover {
    color: @brand-primary;
    text-decoration: none;
    background: @body-bg;
    border: 1px solid @body-bg;
    border-radius: @radius;
  }
  h2 {
    border-bottom: 1px solid lighten(@brand-default, 50%);
    font-size: 1.4em;
    padding-bottom: .4em;
    margin-bottom: 1em;
  }
}

span.label {
  padding: 0.5em;
  font-weight: normal;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.btn-default {
  background-image: linear-gradient(to bottom, lighten(@brand-default,62%) 0px, lighten(@brand-default,54%) 100%);
  background-repeat: repeat-x;
  border-color: lighten(@brand-default,54%);
  text-shadow: 0 1px 0 lighten(@brand-default,62%);
}

.btn-default:hover, .btn-default:focus {
    background-image: none;
  background-color: lighten(@brand-default,54%);
  border-color: lighten(@brand-default,50%);
}

.btn-primary { .btn-styles(@btn-primary-bg); }

.btn, .input, select, .form-control, .dropdown-menu {
  font-size: 1em;
}

.form-control {
  border-color: lighten(@brand-default, 50%);
  height: auto;
}

.at-hand {
  color: @black;
  padding-top: .2em;
  border-top: 1px solid lighten(@brand-default,50%);
  border-bottom: 1px solid lighten(@brand-default,50%);
  background: @white;
}

.btn-toolbar {
  padding: 1em 0;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: 0;
}

.services_list {
  .row {
    margin-bottom: 3em;
  }
  h3 {
    color: lighten(@brand-default,20%);
  }
  a {
    text-decoration: none;
    .warehouse-service {
      color: #75517B;
      display: block;
      font-weight: bold;
      margin-bottom: .5em;
    }
  }
  a:hover .warehouses-service {
    color: @brand-primary;
    text-decoration: underline;
  }
  .service-item {
    h3 {
      padding: 0;
      margin: .4em 0 .4em 0;
    }
    .label {
      display: block;
      float: left;
    }
  }
}

// Graphs
.scales {
  .btn-toolbar {
    margin: 0;
    padding: .5em 1em .5em 1em;
    background: @scale-bg;
  }
  .year-month-day-hour-buttons, .forward-backward-buttons, .date-chooser, .customize-button {
    margin-top: .5em;
  }
  .date-navigation {
  }
  .tag-navigation {
    padding-bottom: 1em;
  }

  margin-bottom: 20px;
}

.datepick input {
  padding-left: 9px;
  padding-right: 9px;
}

.service-changer {
  margin: 1em 1em 0 0;
  i {
    margin-right: .4em;
    color: lighten(@brand-primary,12%);
  }
}

.graph_container {
  margin-bottom: 30px;
  clear: right;
  border: 1px solid @gray-lighter;
  padding: 10px 10px;
}

.plot {
    height: 300px;
}

.input-daterange-to {
  display: inline-block;
  min-width: 16px;
  height: 30px;
  padding: 4px 3px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  text-shadow: 0 1px 0 @white;
  vertical-align: middle;
  background-color: lighten(@brand-default,58%);
  border: 1px solid lighten(@brand-default,54%);
}

.graph-legend {
  padding-top: 5px;
  overflow: auto;
  color: @gray-darker;
}

label.deactivated {
  text-decoration: line-through
}

.datepick {
  width: 200px;
}

// User menu
.user-menu {
  a {
    .font-leight;
    padding: .4em;
    color: lighten(@brand-primary,12%);
  }
  a:hover {
    background: @white;
    border-radius: @radius;
    text-decoration: none;
    color: @black;

  }
}
// Footer
.global-footer-content {
  padding-top: 2em;
  padding-bottom: 2em;
}
.global-footer {
  color: @brand-default;
  .font-leight(1.1em);
  padding: 1em;
  line-height: 160%;
  img {
    margin-bottom: 12px;
    .font-bold(.9em);
    letter-spacing: .1em;
    text-tranform: uppercase;
  }
  a {
    color: @link-color;
  }
  .useful-links {
    margin-top: 34px;
    a i {
        text-decoration: none;
        margin-right: .3em;
    }
    a:hover i {
      text-decoration: none;
    }
  }
}

.tag-cloud {

  a {
    font-size: 12px;
  }

  a.selected-tag {

    :hover::before {
        color: red;
    }

    &:before {
      content: "x";
      font-weight: 700;
      line-height: 1;
      opacity: 0.2;
      text-shadow: 0 1px 0 #fff;
    }

  }
}

