// Override styles from bootstrap-tagsinput
.bootstrap-tagsinput {
  display: block;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: none;
  padding: 4px 6px 4px 0;
  margin: 5px 0;
  .tag {
    color: @label-color;
    text-transform: none;
  }
}
